{% extends 'landing/base.html' %}
{% load custom_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="nav-item .notification-badge .notification-badge:hover">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
            {% show_notifications %}
        </svg>
    </div>
    <!-- Form for adding a new post -->
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h1>Add a Post!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Display existing posts -->
    {% for post in post_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            <div class="profile-section">
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img class="rounded-circle post-img picture-picture" height="30" width="30"
                         src="{{ post.author.profile.picture.url }}"/>
                </a>
                <p class="post-text profile-username">
                    <a class="text-success post-link" href="{% url 'profile' post.author.profile.pk %}">
                        @{{ post.author }}</a> {{ post.created_on }}
                </p>
            </div>
            <div class="position-relative">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="post-image"/>
                {% endif %}
                <p>{{ post.body }}</p>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>
            <div class="d-flex flex-row">
                <form action="{% url 'like' post.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button style="background-color:transparent; border:none; box-shadow:none;" type="submit">
                        <i class="far fa-thumbs-up"><span style="font-size:12px">{{ post.likes.count }}</span></i>
                    </button>
                </form>
                <form action="{% url 'dislike' post.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button style="background-color:transparent; border:none; box-shadow:none;" type="submit">
                        <i class="far fa-thumbs-down"><span style="font-size:12px">{{ post.dislikes.count}}</span></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
