{% extends 'landing/base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row mt-3">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">Back to Feed</a>
       </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div class="profile-section">
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img class="rounded-circle post-img picture-picture" height="30" width="30"
                         src="{{ post.author.profile.picture.url }}" />
                </a>
                <p class="post-text post-text profile-username">
                    <a class="text-success post-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> {{ post.created_on }}
                </p>
            </div>
            {% if request.user == post.author %}
            <a href="{% url 'post-edit' post.id %}" class="edit-color" ><i class="fas fa-edit"></i></a>
            <a href="{% url 'post-delete' post.id %}" class="edit-color" ><i class="fas fa-trash"></i></a>
            {% endif %}
            <div class="position-relative">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="post-image"/>
                {% endif %}
                <p>{{ post.body }}</p>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>
            <div class="d-flex flex-row">
                <form action="{% url 'like' post.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-up"><span style="font-size:12px">{{ post.likes.all.count }}</span></i>
                    </button>
                </form>
                <form action="{% url 'dislike' post.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-down"><span style="font-size:12px">{{ post.dislikes.all.count}}</span></i>
                    </button>
                </form>
            </div>
       </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
       </div>
    </div>
    {% for comment in comments %}
    {% if comment.is_parent %}
    <div class="row justify-content-center mt-3 mb-5 border-bottom d-none">
        <div class="col-md-5 col-sm-12">
            <p>
                <div class="profile-section">
                    <a href="{% url 'profile' comment.author.profile.pk %}">
                        <img class="rounded-circle post-img picture-picture" height="30" width="30"
                             src="{{ comment.author.profile.picture.url }}" />
                    </a>
                    <p class="post-text profile-username">
                        <a class="text-success post-link" href="{% url 'profile' comment.author.profile.pk %}">
                            @{{ comment.author }}</a> {{ comment.created_on }}
                    </p>
                </div>
                {% if request.user == comment.author %}
                    <a href="{% url 'comment-delete' post.pk comment.pk %}" class="edit-color"
                    ><i class="fas fa-trash"></i></a>
                {% endif %}
            </p>
            <p>{{ comment.comment }}</p>
            <div class="d-flex flex-row">
                <form action="{% url 'comment-likes' post.pk comment.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-up"><span style="font-size:12px">{{ comment.likes.all.count }}</span></i>
                    </button>
                </form>
                <form action="{% url 'comment-dislikes' post.pk comment.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-down"><span style="font-size:12px">{{ comment.dislikes.all.count}}</span></i>
                    </button>
                </form>
                <div>
                    <button class="remove-default-btn"><i class="fas fa-comment-dots" onclick="commentReplyToggle('{{ comment.pk }}')"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5 d-none" id="{{ comment.pk }}">
        <div class="col-md-5 col-sm-12">
            <form action="{% url 'comment-reply' post.pk comment.pk %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
       </div>
    </div>
    {% for child_comment in comment.childern %}
    <div class="row justify-content-center mt-3 mb-5 child-comment" style="margin-left:2.5rem;">
        <div class="col-md-5 col-sm-12 border-bottom">
            <p>
                <div class="profile-section">
                    <a href="{% url 'profile' child_comment.author.profile.pk %}"><img
                            class="rounded-circle post-img picture-picture" height="30" width="30" src="{{ child_comment.author.profile.picture.url }}" /></a>
                    <p class="post-text profile-username"><a class="text-success post-link" href="{% url 'profile' child_comment.author.profile.pk %}">@{{ child_comment.author }}</a> {{ child_comment.created_on}}</p>
                </div>
                {% if request.user == child_comment.author %}
                    <a href="{% url 'comment-delete' post.pk child_comment.pk %}" class="edit-color"><i class="fas fa-trash"></i></a>
                {% endif %}
            </p>
            <p>{{ child_comment.comment }}</p>
        </div>
    </div>
        {% endfor %}
    {% endif %}
{% endfor %}
</div>
<script type="text/javascript" src="{% static 'js/social.js' %}"></script>
{% endblock %}